[core]
  editor = nvim

[init]
  defaultBranch = main

[alias]
  cmit = commit
  cout = checkout
  ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all -n 5
  lll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  st = status -sb --show-stash
  df = difftool -t nvimdiff -y
  pa = pull --all
  fap = fetch --all --prune
  alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[push]
  autoSetupRemote = true

[fetch]
  prune = true

[include]
  path = .gitconfig.local
[credential "https://github.com"]
	useHttpPath = true
