/* Font */
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

/* Background Color */
window#waybar {
    background-color: #323232;
    color: #ffffff;
    border-bottom: 0px;
}

/* Default Padding and Text color for blocks */
#workspaces,
#mode,
#scratchpad,
#clock,
#idle_inhibitor,
#pulseaudio,
#network,
#backlight,
#battery,
#tray {
    margin: 0;
    padding: 0 10px;
}

/* Buttons */
button {
    border: none;
    border-radius: 0;
    padding: 0 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* Modules */
#workspaces {
    padding: 0;
}
#workspaces button.focused {
    background-color: #d65d0e;
}
#workspaces button.urgent {
    background-color: #000000;
}

#scratchpad {
}

#mode {
    padding: 0 5px;
    border-bottom: 3px solid #ffffff;
}

#clock {
    background-color: #64727D;
}

#idle_inhibitor {
    background-color: #323232;
}
#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}
#pulseaudio.muted {
    background-color: #323232;
    color: #ffffff;
}

#network {
    background-color: #2980b9;
}
#network.disconnected {
    background-color: #f53c3c;
}

#backlight {
    background-color: #000000;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}
#battery.charging, #battery.plugged {
    background-color: #26A65B;
    color: #ffffff;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.warning:not(.plugged) {
    background-color: #d65d0e;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.critical:not(.plugged) {
    background-color: #d65d0e;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: #2980b9;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
